target/
/BookieApp/src/main/resources/web/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

hsql/*
!hsql/runBookieDb.bat
!hsql/runBookieDb.sh