|===
|Name|Description|Required|Default value

{{#headers}}
|{{#tableCellContent}}`{{name}}`{{/tableCellContent}}
|{{#tableCellContent}}{{description}}{{/tableCellContent}}
|{{#tableCellContent}}{{required}}{{/tableCellContent}}
|{{#tableCellContent}}`{{default}}`{{/tableCellContent}}

{{/headers}}
|===